---
import Card from "./Card.astro";
---

<section id="experiencia" class="pt-28">
    <h2 class="text-4xl font-bold text-center">Experiencia</h2>
    <section class="flex flex-col items-center mt-10">
        <Card
            type="Experience"
            company="Bizit Global"
            rol="Fullstack Developer"
            date="Junio 2023 - Actualidad"
            body="Encargado del mantenimiento y desarrollo de aplicaciones web para los clientes de la empresa, con un enfoque en la mejora continua y la creación de nuevas funcionalidades. Colaboramos con empresas destacadas como Coca Cola y también formo parte del desarrollo de software interno de la empresa."
            skills={[
                "HTML",
                "CSS",
                "C#",
                ".Net Framework",
                ".Net Core",
                "ASPX",
                "Bootstrap",
                "Javascript",
                "Angular",
                "SQL Server"
            ]}
            href="https://www.bizitglobal.com.ar"
        />
        <Card
            type="Experience"
            company="RC&Asociados"
            rol="Fullstack Developer"
            date="Marzo 2022 - Mayo 2024"
            body="Creación y mantenimiento de páginas web para la empresa y sus firmas. Utilizando las tecnologías de HTML, CSS, Javascript, React, MongoDB, Nodejs, Express y Firebase."
            skills={[
                "HTML",
                "CSS",
                "Javascript",
                "React",
                "NodeJS",
                "Express",
                "Bootstrap",
                "MongoDB",
                "Firebase"
            ]}
            href="https://www.rcyasociados.ar"
        />
        <Card
            type="Experience"
            company="Devocamp"
            rol="Frontend Developer"
            date="Abril 2023 - Enero 2024"
            body="Startup en donde desarrollé las paginas web de la empresa, lideré el equipo en los momentos necesarios. Utilizando las ultimas tecnologias y con las mejores metodologias agiles lograbamos cumplir con nuestros objetivos."
            skills={[
                "HTML",
                "CSS",
                "Javascript",
                "Typescript",
                "React",
                "NextJS",
                "TailwindCSS",
                "Vite",
                "Github",
                "Trello",
                "Figma"
            ]}
            href="https://www.linkedin.com/company/devocapm/"
        />
    </section>
</section>
